<%= render 'layouts/components/page/top_nav' %>

<h1>Hits</h1>

<table>
  <thead>
    <tr>
      <th>Ip address</th>
      <th>Notification</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hits.each do |hit| %>
      <tr>
        <td><%= hit.ip_address %></td>
        <td><%= hit.notification_id %></td>
        <td><%= link_to 'Show', hit %></td>
        <td><%= link_to 'Edit', edit_hit_path(hit) %></td>
        <td><%= link_to 'Destroy', hit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hit', new_hit_path %>
